<h1>Museums and Other Organisations</h1>
<p>Each group listed here has at least one <a href="/objects">object</a> available to be added to a box.</p>
<% @institutions.each do |institution| %>
  <%= link_to institution.name, institution %>
<% end %>