<p><a href="/institutions">Museums</a></p>
<h1><%= @institution.name %></h1>


<h2>Objects</h2>

<ol>
<% @things.each do |thing| %>
  <li><%= link_to thing.name, object_path(thing) %></li>
<% end %>
</ol>