<p><a href="/boxes">Boxes</a></p>
<h1><%= @box.museum.name %></h1>

<ol>
<% @prints.each do |print| %>
  <li><%= link_to print.thing.name, print_path(print) %></li>
<% end %>
</ol>

<p>This box ID is <%= @box.id %>.</p>