	<h1>About Us</h1>
	<p>We're a London startup containing museum lovers, designers and hardware people. We're well connected, and not afraid to ask our smart friends for help. </p>
	<h4>The Team</h4>
	<div class="row bio">
		<div class="four columns">
			<h5>George Oates</h5>
			<p>
				<em>Co-Founder</em><br />
				George's bio
			</p>
		</div>
		<div class="four columns">
			<h5>Tom Flynn</h5>
			<p>
				<em>Co-Founder</em><br />
				Tom's bio
			</p>
		</div>
		<div class="four columns">
			<h5>Adrian McEwen</h5>
			<p>
				<em>Tech Lead</em><br />
				Adrian's bio
			</p>
		</div>
	</div>
	
	<h4>Advisors</h4>
	<div class="row bio">
		<div class="three columns">
			<p>
				Gill Wildman<br>
				<em>Designer</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Frankie Roberto<br>
				<em>Creative Technologist</em>			
			</p>
		</div>
		<div class="three columns">
			<p>
				Geoff Browell<br>
				<em>Archivist</em>				
			</p>
		</div>
		<div class="three columns">
			<p>
				Simon Cronshaw<br>
				<em>Cultural Entrepreneur</em>				
			</p>
		</div>
	</div>	
	
<!--
	<h4>Partners</h4>

	<div class="row partners">
		<div class="three columns" title="Academic Partners">
			<ul>
				<li>King's College</li>
				<li>University College London</li>
				<li>V&A Research Institute (VARI)</li>
			</ul>
		</div>
		<div class="three columns" title="3D Printing Partners">
			<ul>
				<li>Autodesk</li>
				<li>Scan The World</li>
				<li>ThinkSee3D</li>
			</ul>
		</div>
		<div class="three columns" title="Internet of Things Partners">
			<ul>
				<li>MCQN</li>
				<li>designswarm</li>
			</ul>
		</div>
		<div class="three columns" title="Packaging">
			<ul>
				<li>MOO Print Ltd</li>
			</ul>
		</div>		
	</div>	
-->