	<h1>About Us</h1>
	<p>We're a London startup containing museum lovers, designers and hardware people. We're well connected, and not afraid to ask our smart friends for help. </p>
	<h4>The Team</h4>
	<div class="row bio">
		<div class="four columns">
			<h5><a href="https://uk.linkedin.com/in/georgeoates">George Oates</a></h5>
			<p>
				<em>Co-Founder</em><br />
				Software designer and culture lover.
			</p>
		</div>
		<div class="four columns">
			<h5><a href="https://www.linkedin.com/in/nimbuspin">Tom Flynn</a></h5>
			<p>
				<em>Co-Founder</em><br />
				3D scanner and designer.
			</p>
		</div>
		<div class="four columns">
			<h5><a href="https://www.linkedin.com/in/amcewen">Adrian McEwen</a></h5>
			<p>
				<em>Tech Lead</em><br />
				Internet and things tinkerer.
			</p>
		</div>
	</div>
	
	<h4>Advisory Board</h4>

	<div class="row bio">
		<div class="four columns">
			<h5><a href="https://www.linkedin.com/in/gillwildman">Gill Wildman</a></h5>
			<p>
				<em>Board Member</em><br />
				Design strategist, company director.
			</p>
		</div>
		<div class="four columns">
			<h5><a href="http://www.elitecorporatetraining.com.au/team_members/ben-mcguire/">Ben McGuire</a></h5>
			<p>
				<em>Board Member</em><br />
				ex-Virgin Group IP, general counsel
			</p>
		</div>
		<div class="four columns">
			<h5><a href="https://uk.linkedin.com/in/nick-stanhope-59b2574">Nick Stanhope</a></h5>
			<p>
				<em>CEO</em><br />
				Design for social change leader.
			</p>
		</div>
	</div>
	
	<h4>Project Supporters and Friends</h4>
	<p>Even at this early stage, we've worked with lots of people, discussing the idea and getting lots of advice. Thank you, everyone!</p>
	<div class="row bio">
		<div class="three columns">
			<p>
				Adrian Murphy<br>
				<em>Head of Digital</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Alexandra Deschamps-Sonsino<br>
				<em>Designer</em>
			</p>
		</div>
		<div class="three columns">
			<p>			
				Daniel Pett<br>
				<em>Creative Archaeologist</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Eliza Gregory<br>
				<em>Artist</em>				
			</p>
		</div>
	</div>	
	<div class="row bio">
		<div class="three columns">
			<p>
				Frankie Roberto<br>
				<em>Creative Technologist</em>			
			</p>
		</div>
		<div class="three columns">
			<p>
				Geoff Browell<br>
				<em>Archivist</em>				
			</p>
		</div>
		<div class="three columns">
			<p>
				Alex Julyan<br>
				<em>Artist</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Gio Donaldson<br>
				<em>Entrepreneur</em>				
			</p>
		</div>
	</div>	
	<div class="row bio">
		<div class="three columns">
			<p>
				Glen Barnes<br>
				<em>Rogue Ruby Dev</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Harriet Maxwell<br>
				<em>Content Producer</em>			
			</p>
		</div>
		<div class="three columns">
			<p>
				Jon Beck<br>
				<em>Scanner of Worlds</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				Kai Turner<br>
				<em>Product Manager</em>				
			</p>
		</div>
	</div>		
	<div class="row bio">
		<div class="three columns">
			<p>
				Dr. Lina Hakim<br>
				<em>Andrew Mellon Post-Doctoral Research Fellow</em>							
			</p>
		</div>
		<div class="three columns">
			<p>
				Melissa Terras<br>
				<em>Professor of Digital Humanities</em>			
			</p>
		</div>
		<div class="three columns">
			<p>
				Simon Cronshaw<br>
				<em>Cultural Entrepreneur</em>				
			</p>
		</div>
		<div class="three columns">
			<p>
				ThinkSee3D<br>
				<em>3D Printing</em>																	
			</p>
		</div>
	</div>	
	<div class="row bio">
		<div class="three columns">
			<p>
				Rev Dan Catt<br>
				<em>Proper Engineer</em>
			</p>
		</div>
		<div class="three columns">
			<p>
				<a href="/contact">You?</a><br>
				<em>Wealthy patron</em>
			</p>
		</div>
		<div class="three columns">
			<p>
			</p>
		</div>
		<div class="three columns">
			<p>
			</p>
		</div>
	</div>	


<!--
	<h4>Partners</h4>

	<div class="row partners">
		<div class="three columns" title="Academic Partners">
			<ul>
				<li>King's College</li>
				<li>University College London</li>
				<li>V&A Research Institute (VARI)</li>
			</ul>
		</div>
		<div class="three columns" title="3D Printing Partners">
			<ul>
				<li>Autodesk</li>
				<li>Scan The World</li>
				<li>ThinkSee3D</li>
			</ul>
		</div>
		<div class="three columns" title="Internet of Things Partners">
			<ul>
				<li>MCQN</li>
				<li>designswarm</li>
			</ul>
		</div>
		<div class="three columns" title="Packaging">
			<ul>
				<li>MOO Print Ltd</li>
			</ul>
		</div>		
	</div>	
-->
