	<h1>Discussion</h1>
	<p>Coming soon! We're hoping to integrate <a href="https://www.discourse.org">Discourse</a> forum software so there's a place for us all to chat about ideas and collaborations.</p>
	<p>If you're able to help specifically with installation of the forum, please get in touch! </p>