    <div class="row">
    	<div class="twelve columns">
    		<p><img src="/seated.jpg" alt="3D print of a seated Aztec figure. He's seated on an RFID reader too." width="100%"></p>
    	</div>
    </div>
	
	<h1>Museum in a Box. Huh?</h1>
	<p>What if you could make your own collection from any of the museums in the world? Imagine if that collection could be delivered to your house or class or office or kindy. What happens when the box knows what objects are in it? What if it could look on the web for new info about them? <br><br>That's a museum in a box. I know this is too long.</p>

    <a name="boxes"></a>
	<h2>Boxes</h2>
	
	<em>List of boxes</em>
	
	<div class="row center">
		<div class="four columns">
    		<img src="/seated.jpg" width="100%">
			<h4><a href="">Statues of Women in London</a></h4>
		</div>
		<div class="four columns">
    		<img src="/seated.jpg" width="100%">
			<h4><a href="">Animals from The British Museum</a></h4>
		</div>
		<div class="four columns">
    		<img src="/seated.jpg" width="100%">
			<h4><a href="">Stuff made of stone that's a bit random</a></h4>
		</div>
	</div>
	<p>We're on the second round of prototyping. V2 means at least three different boxes, made from a pool of <a href="/objects">about 30 objects</a>.</p>
	
	<a name="museums"></a>
	<h2>Museums</h2>
	<p>
		<a href="">Horniman Museum and Gardens</a>, 
		<a href="">The British Museum</a>
	</p>
	<h6>Hi. Are you from a museum? <a href="">Find out more</a>.</h6>

    <a name="sowhat"></a>
	<h2>So what?</h2>

			
    <a name="help"></a>
	<h2>Help</h2>
	<p>Oh! You'd like to help? That's brilliant.</p>      
	