    <div class="row">
    	<div class="twelve columns">
    		<p><img src="/seated.jpg" alt="3D print of a seated Aztec figure. He's seated on an RFID reader too." width="100%"></p>
    	</div>
    </div>
	
	<h1>Museum in a Box?</h1>
	<p>It's just what it says on the tin: A museum. In a box.</p>
	
	<h5>Choose your own museum</h5>
	<p>What if you could make your own collection from any of the museums in the world? Get your new collection delivered to your home, classroom or office. </p>
	<h5>Connected museum objects</h5>
	<p>The fun starts when you realise that the box knows what objects are in it, thanks to a "brain" inside it. As well as showing you great content about each object and the collection, what if the brain could look on the web for new info and updates too?</p> 
	<h5>Same objects, different places</h5>
	<p>What if a class in Perth is studying the buildings of ancient Palmyra through the Mosul in a Box box, and there's a class in Singapore using it too? How could the students interact with each other around the objects and their stories?</p>
	
    <a name="boxes"></a>
	<h2>Boxes</h2>
	
	<p>We're on the second round of prototyping. V2 means at least three different boxes, made from a pool of <a href="/objects">about 30 objects</a>.</p>
	
	<div class="row center">
        <% @boxes.each do |box| %>
		<div class="four columns">
                        <% featured = box.random_print %>
                        <% unless featured.nil? %>
    			<img src="<%= featured.thing.image %>" alt="<%= featured.thing.image_alt_text %>" width="100%">
                        <% else %>
    			<img src="/seated.jpg" width="100%">
                        <% end %>
			<h4><%= link_to box.museum.name, url_for(box) %></h4>
		</div>
        <% end %>
	</div>
	
	<a name="museums"></a>
	<h2>Museums</h2>
	<p>
		<a href="">Horniman Museum and Gardens</a>, 
		<a href="">The British Museum</a>
	</p>
	<h6>If you're interested to add objects from your museum into the mix, <a href="/contact">please say hi</a>.</h6>     
	
