	<h1>So What?</h1>
	<h2>So <em>what</em>?? If you have to ask... <span style="opacity: 0.1">Philistine...</span></h2>
	
	<blockquote>
		<p>The Imperial War Museum has six million photographs and 120 million feet of film. The British Museum has four million prints and drawings. The V&A has one million prints and drawings and 80,000 textiles. Collections like these cannot be displayed in their entirety: they are too numerous and too light sensitive. Placing them all on display would be absurdly expensive and utterly indigestible. It would make them not more but less accessible to the thousands of interested people who currently study them each year and would bring about their gradual but irreversible destruction by exposure to light.</p>
		<p><a href="http://www.nationalmuseums.org.uk/media/documents/publications/too_much_stuff.pdf">Too much stuff? Disposal from museums, Page 5</a> (PDF, 2003)</p>
	</blockquote>
	<p>Most museums have less than 10% of their collections on display. We're on a mission to help provide a new kind of access to the other 90%. There's potential value in all of it. Imagine if Amazon only showed 10% of its products!</p>
	
	<hr />
	
	<div class="row">
		<div class="four columns">
			<h5>Different points of view</h5>
			<p>There's a huge gap between the metadata we have about objects and what's written by people who study them. We want to help close that gap by facilitating ways for people to contribute their knowledge (or links or other useful things) back into each object's infosystem.</p>
		</div>
		<div class="four columns">
			<h5>Objects + Data</h5>
			<p>Objects can be receptacles and prompts. When you get a Museum in a Box, the objects themselves unlock information. </p>
			<p>A museum object and all its data is <em>transportable</em>.</p>
		</div>
		<div class="four columns">
			<h5>It all comes back to digitisation</h5>
			<p>Making a 3D model of an object is straightforward. We can help you learn how to do it.</p>
			<p>We've selected our current crop of objects and boxes from the public web. If you're interested to start working on 3D digitisation of your 3D objects, <a href="/contact">let us know</a>.</p>
		</div>
	</div>