	<h1>The Brain</h1>
    <div class="row">
    	<div class="six columns">
    		<p><img src="/the-brain-components.jpg" alt="Components of the brain" width="100%"></p>
    	</div>
    	<div class="six columns">
    		<p><img src="/the-brain-diagram.jpg" alt="Diagram of the brain" width="100%"></p>
    	</div>
    </div>
    <div class="row">
    	<div class="six columns">
    		<p><img src="/the-brain-box-and-reader.jpg" alt="Brain and its contents" width="100%"></p>
    	</div>
    	<div class="six columns">
    		<p><img src="/the-brain-three-boxes.jpg" alt="Three prototype brain designs" width="100%"></p>
    	</div>
    </div>
    
    <h3>Brain Bits</h3>
    <p>We're still fairly early in the design phase, but our brains are made of:</p>
    <ol>
    	<li>An SD Card</li>
    	<li>A Raspberry Pi II</li>
    	<li>A Wifi dongle</li>
    	<li>An RFID tag reader</li>
    	<li>An RFID interconnector cable</li>
    	<li>Power</li>
    	<li>Some kind of audio output (we've got a few different types of speakers)</li>
    	<li>Some kind of video player, via HDMI out</li>
    	<li>RFID tags for all the objects in the box</li>
    </ol>
    
    <p>You <a href="/boops">boop</a> an object on a box, and the brain tells you things. Magic!</p>
    
    <h3>On Github</h3>
    <p>You can have a poke at the <a href="https://github.com/museuminabox/brain">code</a>, if you're so inclined.</p>
	
	
	
