body {
	padding:40px;
	background-color: lightgrey;
	color: #333;
	font-family: 'Futura', 'Raleway', sans-serif;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #000000; 
  border-bottom: 3px solid darkkhaki;
  padding-bottom: 2px;
  text-decoration: none;
}
  
a:hover {
  color: #000000; 
  border-bottom: 3px solid yellow;
  padding-bottom: 2px;
  text-decoration: none;
}
  
p, li {   
	font-family: 'Futura', 'Verdana', sans-serif;
}

.hi {
	padding: 10px;
	background-color: #e5e5e5;
	text-align:center;
}
.center {
	margin: 30px 0;
}
.nav {
	margin-bottom: 20px; 
}
.logo a {
	border:0;
}
.nav ul {
	list-style-type: none;
	float:right;
    padding: 0;
    text-transform: uppercase;
	margin:0;
}
/* vertical */

.nav ul li {
	line-height:0;
	float:left;
	margin:0;
}
.nav ul li a {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color:black;
	background-color: lightgrey;
	border: 3px solid lightgrey;
}
.nav ul li a:hover {
	background-color: white;
	border: 3px solid black;
	border-bottom: 3px solid black;
}

.lead {
	font-size: 2em;
}
.tag span { background-color: white; }

.bio {
	text-align:center;
}
.bio h5 {
	margin-bottom:0;
}
.bio div {
	padding: 20px;
}
.idea {
	
}
.idea h6 {
	background-color:yellow;
	padding:1px;
}
.partners {
	text-align:center;
	font-size: 1em;
}
.partners li {
	list-style-type: none;
}
.foot li {
	list-style-type: none;
}