<!DOCTYPE html>
<html>
<head>
  <title>Museum in a Box</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<!-- start nav -->
    <div class="row nav">
      <div class="one columns logo" title="Museum in a Box!">
		<img src="assets/images/logo-closed-box.svg" alt="Museum in a Box logo">
	  </div>
      <div class="eleven columns">
		<ul>
		  <li><a href="index.html">Home</a></li>
		  <li><a href="#boxes">Boxes</a></li>
		  <li><a href="#museums">Museums</a></li>
     	  <li><a href="#sowhat">So What?</a></li>
		  <li><a href="#help">Help</a></li>
		</ul>
      </div>      
    </div>
<!-- end nav -->    
    
<%= yield %>

<!-- start foot -->
	<hr />
	<div class="row foot">
		<div class="two columns"><a href="#top">&uarr; Top</a></div>
		<div class="three columns offset-by-one">		
			<ul>
				<li>Boxes</li>
				<li>The Brain</li>
				<li>Code</li>
			</ul>
		</div>
		<div class="three columns">		
			<ul>
				<li>About Us</li>
				<li>Discussion</li>
			</ul>
		</div>
		<div class="three columns">		
			<p><small>Museum in a Box Limited is registered in England, company number XXXXXXXX.</small></p>
		</div>
	</div>
<!-- end foot -->
</div>
</body>
</html>
